.bg-light {background-color: #ffffff !important}
.bg-light .nav-link {padding-left: 2px;padding-right: 2px; color: #dc3545; }
.container-fluid  .logo{color: #dc3545;margin-left: 70px; font-size: 25px;font-weight: bold;}
.bg-light .nav-item a {margin-left: 70px; margin-top: 10px;
    padding-top: 0px;
    padding-bottom: 0px;}
.link2 {margin-left: 25px !important;}

.bg-light .nav-link:hover{font-size: 19px;font-weight: bold; border-bottom: solid 3px #e91e63; transition: 0.2s;}