<app-header></app-header>

<div class="">
  <div class="row dv-row-dshbrd">
    <div class="col-md-2  dv-sidebr">


    </div>
    <div class="col-md-10  dv-mainapp">
      <div class="">
        <!-- CONTENT -->
        <div  class="row">
          <div  class="col-md-12 col-12 col-sm-12  dv-headr">
            Farmer
          </div>
          <div class="col-md-12 col-12 col-sm-12 dv-frm">
            <form *ngIf="token != null" [formGroup]="farmerForm" (ngSubmit)="submitForm(farmerForm.value)">

              <div class="adddata">
                <div class="">
                  <div class="row dv-frm-row">
                    <div class="col-md-4 col-sm-12 col-12">
                      <div class="form-group">
                        <label>Select Crop <small>*</small></label>
                        <select type="number" class="form-control" formControlName="CropId">
                          <option value="">-- Select a Crop --</option>
                          <option value={{crop.id}} *ngFor="let crop of cropList">
                            {{crop.cropName}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Name of Farmer <small>*</small></label>
                        <input class="form-control" type="text" placeholder="Name" formControlName="FullName">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Land Holds (in Hectare) <small>*</small></label>
                        <input (keypress)="_NumberOnly($event)" type="number" min="0" class="form-control"
                          placeholder="Land Holding (Ha)" formControlName="LandHolding">
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Address <small>*</small></label>
                        <input class="form-control" type="text" placeholder="Address" formControlName="Address">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Phone </label>
                        <input (keypress)="_NumberOnly($event)" class="form-control" type="text" placeholder="Phone"
                          formControlName="Phone">
                      </div>
                    </div>
                    <div class="col-md-4"></div>
                  </div>



                </div>
                <div class="submitbtn">
                  <button *ngIf="token != null" class="btn btn-primary submit"
                    [disabled]="!farmerForm.valid">Submit</button>
                </div>

              </div>

            </form>
          </div>
          <div class="table-responsive dv-tble">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Farmer</th>
                  <th scope="col">Crop Made</th>
                  <th scope="col">Land Holding</th>
                  <th scope="col">Added By </th>
                  <th scope="col">Added Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tddata of TableData">
                  <td>{{tddata.fullName}}</td>
                  <td>{{tddata.cropName}}</td>
                  <td>{{tddata.landHolding}}</td>
                  <td>{{tddata.createdBy}}</td>
                  <td>{{tddata.createdDate}}</td>
                  <td><i class="fa fa-eye" (click)="toDetail(tddata.id)"></i>&nbsp;&nbsp;
                    <i *ngIf="token != null" class="fa fa-edit" (click)="editData(tddata.id)"></i>&nbsp;&nbsp;
                    <i *ngIf="token != null" class="fa fa-trash" (click)="removeItem(tddata.id)"></i>
                  </td>
                </tr>
              </tbody>

            </table>
            <div>
              <button (click)="viewMore('front')" [disabled]="!moreExist" 
                class="btn btn-primary fa fa-arrow-circle-right" aria-hidden="true"></button> 
              <button (click)="viewMore('back')" [disabled]="take == 1" 
                class="btn btn-primary fa fa-arrow-circle-left" aria-hidden="true"></button>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>