.image-container { position: relative;}
.image-container .after {position: absolute; top: 0;left: 0;width: 100%;height: 100%;
    background: rgb(0 0 0 / 34%);border-radius: 5px;}

.dv-mainapp img {width: 100%}
.dv-msg {    font-size: 20px;
    font-weight: bold;border-radius: 5px; background: #ffffff;height: auto;color: #e91e63;text-align: center;}
.dv-msg p {margin-top: 30px; padding-left: 150px; padding-right: 150px;}
.dv-hari1 {padding-top: 30px;padding-bottom: 30px;height: auto;text-align: center;}
.dv-hari2 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-guru1 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-guru2 {padding-bottom: 30px;padding-top: 30px;height: auto;text-align: center;}
.dv-asrm1 {height: 400px; padding-top: 30px;padding-bottom: 30px;text-align: center;}
.dv-asrm2 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-mnge1 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-mnge2 {padding-bottom: 30px;padding-top: 30px;height: auto;text-align: center;}
.after p {color: white;padding-left: 60px;padding-top: 350px;font-size: 30px;
    font-weight: bold;font-family: revert;}
.addrss {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;background:#4b5e68d6;height: auto;color: white;}
.notice { 
    background-color: #4b5e68d6;
     border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;height: auto;color: white; }
.notice ul { list-style-type: none;}
.notice p{  font-size: 20px; font-weight: bold;}

.cntct h5{width: 100px;border-bottom: 1px solid white; padding: 5px; margin-bottom: 15px}
.donat{margin-top: 40px;}
.donat h5 {width: 350px;border-bottom: 1px solid white; padding: 5px; margin-bottom: 15px}
.notice h5 {width: 140px;border-bottom: 1px solid white; padding: 5px; margin-bottom: 15px}
.notice ul{
    background-image: url(../../../assets/img/back.jpg);
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    color: black;
    border: 2px solid #433f3f;
    border-radius: 10px;
}
 .quote span {float: right;
    margin-right: 40px;margin-bottom: 10px;} 
 .quote p{margin-bottom: -5px;}
#carouselExampleControls {margin-right: 10px}
#carouselExampleControls img{border-radius: 7px;}
.dv-hari2-main{font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid white;
    width: 190px}
.dv-guru1-main{font-size: 17px;
        font-weight: 500;
        border-bottom: 2px solid white;
        width: 195px}
.mnand2 img{
    width: 70%;
    float: right;
    margin-right: 50px;
    border: 7px solid #958f8f;
    border-radius: 7px
}
.about {
    padding-bottom: 10px;
}
.mnand1 p{
    padding: 0px;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
    font-size: 17px;
    color: #817f7f;
}
.about-msg{text-align: left;padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom: 2px solid #e91e63;
    width: 380px;
    margin-left: 39px;}


.dv-asrm2-main{font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid white;
    width: 100px}
.dv-mnge1-main{font-size: 17px;
        font-weight: 500;
        border-bottom: 2px solid white;
        width: 110px}





@media (max-width:600px){
    .quote p {padding-left: 0px;
        padding-right: 0px;}
    .dv-msg p{padding-left: 0px;
            padding-right: 0px;}
    .dv-asrm1{height: 250px;}
    .about-msg{margin-left: 10px; text-align: initial;width: 300px;}
}
@media (max-width:1200px){ .after p {display: none} }