.image-container { position: relative;}
.image-container .after {position: absolute; top: 0;left: 0;width: 100%;height: 100%;
    background: rgb(0 0 0 / 34%);border-radius: 5px;}

.dv-mainapp img {width: 100%}
.dv-msg {border-radius: 5px; background: #ffffff;height: auto;color: #e91e63;text-align: center;}
.dv-msg p {margin-top: 30px; padding-left: 150px; padding-right: 150px;}
.dv-hari1 {padding-top: 30px;padding-bottom: 30px;height: auto;text-align: center;}
.dv-hari2 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-guru1 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 60px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-guru2 {padding-bottom: 30px;padding-top: 30px;height: auto;text-align: center;}
.dv-asrm1 {padding-top: 30px;padding-bottom: 30px;height: auto;text-align: center;}
.dv-asrm2 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-mnge1 {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 60px;background: rgb(0 0 0 / 47%);height: auto;color: white;}
.dv-mnge2 {padding-bottom: 30px;padding-top: 30px;height: auto;text-align: center;}
.after p {color: white;padding-left: 60px;padding-top: 350px;font-size: 30px;
    font-weight: bold;font-family: revert;}
.addrss {border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;background:#4b5e68d6;height: auto;color: white;}
.notice { 
    background-color: #4b5e68d6;
     border-radius: 5px; padding-bottom: 30px;padding-top: 30px;padding-left: 30px;padding-right: 15px;height: auto;color: white; }
.notice ul { list-style-type: none;}
.notice p{  font-size: 20px; font-weight: bold;}
.cntct { width: 350px;}
.cntct h5{width: 100px;border-bottom: 1px solid white; padding: 5px; margin-bottom: 15px}
.donat{margin-top: 40px;}
.donat h5 {width: 350px;border-bottom: 1px solid white; padding: 5px; margin-bottom: 15px}
.notice h5 {width: 140px;border-bottom: 1px solid white; padding: 5px; margin-bottom: 15px}
.notice ul{
    background-image: url(../../../assets/img/back.jpg);
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;
    color: black;
    border: 2px solid #433f3f;
    border-radius: 10px;
}