<app-header></app-header>

<div class="container">
  <div class="row g-0 dv-row-dshbrd">
    <div class="col-md-12 col-sm-12 dv-mainapp  ">
      <!-- <img src="../../../assets/img/hari2.jpg" class="img-fluid" alt="..."> -->
      <!-- <div class="image"></div> -->
      <div class="image-container">
        <img src="../../../assets/img/hari2.jpg" />
        <div class="after">
          <p>Jay Harichand Jay Guruchand</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 dv-msg quote">
      <p> " হাতে কাম মুখে নাম সচ্চরিত্র রবে ।
        হরিকে না ডাকো হরি তোমায় ডেকে নেবে || " </p>
        <span> - Sri Sri Harichand Thakur</span>

    </div>
    <div class="row g-0">
      <div class="col-md-6 col-sm-12 dv-hari1">
        <img src="../../../assets/img/harichand1.png" class="img-fluid" alt="...">

      </div>
      <div class="col-md-6 col-sm-12 dv-hari2 ">
        <p class="dv-hari2-main"> Sri Sri Harichand Thakur </p>
        <p>Sri Sri Harichand Thakur was born in 1811 (madhukrishna tryodashi) in a Namashudra family
          in the Safaldanga village of Gopalganj District which is now a part of Bangladesh. He was
          the son of Jashomanta Biswas and Annapurna Devi. </p>
          <p>He is the Avatar of Mahavishnu in Kaliyuga, he is called PurnaBramha (God of all Gods).
            According to him, the best Yogi is the person who can express his devotion to God by staying in 
            familty and handles all responsibilities. He is the founder of a sect of Hindus called Matua.
            He left his body on 1878  in Faridpur District.</p>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6 col-sm-12 dv-guru1">
        <p class="dv-guru1-main"> Sri Sri Guruchand Thakur </p>

        <p> " Documentation and examples for opting images into responsive behavior (so they never become larger than
          their parent elements) and add lightweight styles to "</p>

      </div>
      <div class="col-md-6 col-sm-12 dv-guru2 ">
        <img src="../../../assets/img/guruchand.png" class="img-fluid" alt="...">

      </div>
    </div>
    <div class="col-md-12 col-sm-12 dv-msg">
      <p> About Harichand Sevasangh Pakhanjore</p>
    </div>
    <div class="row g-0">
      <div class="col-md-6 col-sm-12 dv-asrm1">
        <!-- <img src="../../../assets/img/harisingle.jpg" class="img-fluid" alt="..."> -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/aasram1.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram2.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram3.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram4.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram5.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram6.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram7.PNG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item ">
              <img src="../../../assets/img/aasram8.PNG" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 dv-asrm2 ">
        <p> " Documentation and examples for opting images into responsive behavior (so they never become larger than
          their parent elements) and add lightweight styles to "</p>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6 col-sm-12 dv-mnge1">
        <p> " Documentation and examples for opting images into responsive behavior (so they never become larger than
          their parent elements) and add lightweight styles to "</p>

      </div>
      <div class="col-md-6 col-sm-12 dv-mnge2 ">
        <!-- <img src="../../../assets/img/harisingle.jpg" class="img-fluid" alt="..."> -->
        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/img/Capture1.PNG" class="d-block w-100" alt="...">
            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 dv-msg">
      <p> Aasram Information</p>
    </div>
    <div class="row g-0">
      <div class="col-md-6 col-sm-12 addrss">
        <div class="row cntct">
          <h5>Reach Us </h5>

          <h6>Address : <span>Harichand Sevasangh, Pakhanjore, Kanker (C.G.), 494776 </span></h6>

          <h6>Contact : <span> harichandpjore@gmail.com </span></h6>

        </div>
        <div class="row donat">
          <h5>Donate to help growing the Aasram </h5>
          <div class="col-md-6">
            <h6>Account No : <span> 657812375 </span></h6>
            <h6>IFSC : <span> SBIN0007321 </span></h6>
          </div>
          <div class="col-md-6">
            <h6>Bank : <span> SBI</span></h6>
            <h6>Account Holder : <span> Harichand Sevasangh</span></h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 notice ">
        <h5> Notice Board </h5>

        <ul class="">
          <br>

          <li class="">
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 
          </li>
         
        </ul>
      </div>
    </div>

  </div>
</div>